<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/header'); %>
    </header>


    <table class="table">
        <tr>
            <th>Contact Name</th>
            <th>Contact Number</th>
            <th>Email Address</th>
            <th>Action</th>
        </tr><br />
        <% for(e in data) { %>
        <tr>
            <td><%= data[e].contactName %></td>
            <td><%= data[e].contactNumber %></td>
            <td><%= data[e].email %></td>
            <td>
                <form>
                    <button> 🍁 </button>
                </form>
                <form>
                    <button> ➕ </button>
                </form>
                <form>
                    <button> ➖ </button>
                </form>
                <form>
                    <button> ✏️ </button>
                </form>
            </td>
        </tr>
        <% } %>
    </table>



    <p>
        <%= title %>
    </p>




    <%- include('../partials/footer'); %>
</body>


</html>